/* SceneComponent.css */

.scene-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.scene-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}

.hit-zone {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: rgba(255, 0, 0, 0.5);
    /* 버튼의 위치 조정을 위한 left와 top 값 설정 */
    /* 이미지 좌측 10%와 우측 90%에 버튼 배치 */
    left: 10%;
    /* 이미지의 상단 50%에 버튼 배치 */
    top: 50%;
    transform: translate(-50%, -50%);
}
